analytics.example.com {
	encode zstd gzip

	@tracker path /t/*
	header @tracker Cache-Control "public, max-age=31536000, immutable"
	reverse_proxy @tracker 127.0.0.1:4318

	@events path /e
	reverse_proxy @events 127.0.0.1:4318

	respond /healthz 404
	respond /readyz 404
	respond 404
}
